.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid #000;
}

.nav-items > ul{
    list-style: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
}

.logo{
    width: 100px;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10ox;
    margin: 10px;
    color: #030303;
}

.card > img{
    width: 100%;
}
.restaurant-card{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 20px;
}